.mobile-login {
  display: flex;
  flex-direction: column;
  padding: 70rpx 32rpx;
  gap: 50rpx;
  .title-container {
    padding: 0 30rpx;
    display: flex;
    flex-direction: column;
    gap: 10rpx;
    .title {
      font-size: 48rpx;
      font-weight: 600;
    }
    .desc {
      font-size: 24rpx;
      color: #666;
    }
  }
  .send-btn {
    padding: 0 30rpx;
  }

  .footer {
    position: fixed;
    width: 100vw;
    bottom: 120rpx;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28rpx;
    color: #666;
  }
}
